/* shared styles */
.main-container{
    margin: 0 auto;
    max-width: 1600px;
    height: auto;
    width: 100%;
}
.bg-orange{
    background-color: rgba(254, 163, 1, 1);
}
.bg-black{
    background-color: black;
}
.text-orange{
    color: rgba(254, 163, 1, 1);
}
.white-text{
    color: white;
}
.text-aqua{
    color: aqua;
}
.text-light{
    color: mediumturquoise;
}
#color{
    background-color: rgb(107, 219, 219);
}
.olive{
    background-color: rgb(164, 214, 64);
}
.btn-primary-2{
    color:rgba(255, 255, 255, 1);
    border: none;
    border-radius: 40px;
    padding: 14px 23px;
    font-size: 16;
}

.btn-primary-2:hover{
    background-color: rgb(75, 172, 75);
    border-radius: 50px;
}

.btn-primary{
    font-weight: 600;
    font-size: 1rem;
    border: none;
    border-radius: 12px;
    padding: 10px 60px;
    text-align: center;
    cursor: pointer;
}
.img{
    max-width: 100%;
    height: auto;
}
.center{
    text-align: center;
}
/* header styles start */
header{
    /* display: grid; */
    display: flex;
    /* grid-template-columns: repeat(3, 1fr); */
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    max-width: 1300px;
    margin: 0 auto;
}
.header-title{
    color: var(--Black, rgba(17, 17, 17, 1));

font-family: Quicksand;
font-size: 2rem;
font-weight: 700;
line-height: 30px;
letter-spacing: 0%;
text-align: left;
}
.tady-img{
    width: 3.87rem;
    height: 3.87rem;
}
.title-img{
    display: flex;
    justify-items: center;
    align-items: center;
}
nav ul li{
    list-style: none;
}
nav li a{
    text-decoration: none;
}
nav ul{
    display: flex;
    gap: 32px;
    justify-items: center;
    align-items: center;
}
.btn-container{
    display: flex;
    justify-items: center;
    align-items: center;
}
nav ul li:hover{
    background-color: darkolivegreen;
    padding: 8px 10px;
    border-radius: 5px;
}
.btn-primary:hover{
    background-color: lightgreen;
    color: white;
    border-radius: 15px;
}
.hamburger{
    font-size: 2rem;
    cursor: pointer;
    display: none;
}
.horizontal-line{
    height: 1px;
    width: 100%;
    background-color: orange;
    margin: 20px auto;
    display: none;
}

/* hero section style start */
.hero-title{
    font-family: Quicksand;
font-size: 2.8rem;
font-weight: 700;
line-height: 61px;
letter-spacing: 0%;
text-align: left;
margin-bottom: 18px;
}
.hero-discription{
    color: var(--Black, rgba(17, 17, 17, 1));

font-family: Quicksand;
font-size: 17px;
font-weight: 400;
line-height: 100%;
letter-spacing: 0%;
text-align: left;
}
.hero-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    /* margin: 10px auto; */
    gap: 50px;
    max-width: 1300px;
    margin: 0 auto;
    margin-bottom: 100px;
}
/* card section styles  */
.card-section{
    max-width: 1300px;
    margin: 0 auto;
    text-align: center;
}
.card-section-title{
    color: rgba(0, 0, 0, 1);

font-family: Quicksand;
font-size: 2.50rem;
font-weight: 700;
line-height: 57.5px;
letter-spacing: 0%;
text-align: center;
}
.card-title{
    color: rgba(32, 32, 32, 1);

font-family: Quicksand;
font-size: 1.53rem;
font-weight: 700;
line-height: 30.65px;
letter-spacing: 0%;
text-align: center;
}
.card-discription{
    color: rgba(128, 128, 128, 1);

font-family: Raleway;
font-size: .99rem;
font-weight: 500;
line-height: 28.3px;
letter-spacing: 0%;
text-align: center;
}
.card-1{
    text-align: center;
    box-sizing: border-box;
    border: 0.94px solid rgba(222, 245, 255, 1);
    border-radius: 18.86px;
    padding: 30px 30px 30px 30px;
    background: linear-gradient(to bottom, #a7e0e0, white);
}
.card-2{
    background: linear-gradient(to bottom, rgb(238, 219, 184), white);
    text-align: center;
    box-sizing: border-box;
    border: 0.94px solid rgba(222, 245, 255, 1);
    border-radius: 18.86px;
    padding: 30px 30px 30px 30px;
}
.card-3{
    text-align: center;
    box-sizing: border-box;
    border: 0.94px solid rgba(222, 245, 255, 1);
    border-radius: 18.86px;
    padding: 30px 30px 30px 30px;
  background: linear-gradient(to bottom, rgb(188, 226, 188), #ffffff);
}
.card-container{
    display: flex;
    gap: 28.29px;
    justify-items: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.arrow{
    color: #ffffff;
    background-color: orange;
    padding: 17px 22px;
    padding-bottom: 20px;
    padding-top: 22px;
    padding-right: 45px;
    border: none;
    height: 60px;
    width: 60px;
    font-size: 3rem;
    border-radius: 30px;
    /* text-align: center; */
    display: flex;
    justify-items: center;
    align-items: center;
}
.arrow:hover{
    background-color: rgb(240, 226, 105);
    border-radius: 50px;
}
.arrow-botton{
    display: flex;
    justify-items: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    margin: 0 auto;
    margin-left: 45%;
}
/* story section styles */
.story-section{
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 80px;
    max-width: 1200px;
    display: flex;
    gap: 19px;
}
.big-card-title{
    color: rgba(0, 0, 0, 1);

font-family: Quicksand;
font-size: 22px;
font-weight: 700;
line-height: 38.35px;
letter-spacing: 0%;
text-align: left;
}
.big-card-discription{
    color: rgba(102, 102, 102, 1);

font-family: Raleway;
font-size: 15px;
font-weight: 500;
line-height: 28.76px;
letter-spacing: 0%;
text-align: left;
}
.stor-big-card{
    text-align: justify;
    box-shadow: 0 4px 30px 0 lavender;
}
.big-card-content{
    text-align: justify;
    padding: 30px;
}
.button-div{
    margin-left: 35px;
    margin-bottom: -30px;
    margin-top: -25px;
}
.mini-card-button{
    margin-right: 100px;
    margin-top: -25px;
}
.mini-card-content{
    padding: 20px;
}
.card{
    border-radius: 8px;
    box-shadow: 0 4px 30px 0 lavender;
    text-align: center;
    border: 1 px solid lavender;
}
.story-card-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 19px;
}
.view-button{
    text-align: center;
    margin-bottom: 60px;
}

/* footer section styles */
.footer-section{
    background: rgba(1, 172, 253, 1);
    height: auto;
    max-width: 1300px;
    margin-top: 60px;
    margin: 0 auto;
    padding: 5% 10%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.footer-title{
    color: rgba(255, 255, 255, 1);

font-family: Quicksand;
font-size: 38px;
font-weight: 700;
line-height: 39.51px;
letter-spacing: 0%;
text-align: left;
}
#footer-logo{
    height: 82px;
    width: 75px;
}
.footer-img{
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 1.32px;
    margin-bottom: 1px;
}
.footer-discription{
    color: rgba(255, 255, 255, 1);

font-family: Quicksand;
font-size: 17px;
font-weight: 400;
line-height: 100%;
letter-spacing: 0%;
text-align: left;
/* margin-top: 35px; */
}
.footer-nav-title{
    color: rgba(255, 255, 255, 1);

font-family: Quicksand;
font-size: 24px;
font-weight: 700;
line-height: 100%;
letter-spacing: 0%;
text-align: left;
}
.footer-blog li{
    list-style: none;
    margin-bottom: 10px;
}
.footer-blog a{
    text-decoration: none;
    color: #ffffff;
}
.icon-title{
    color: rgba(255, 255, 255, 1);

font-family: Quicksand;
font-size: 26px;
font-weight: 700;
line-height: 26px;
letter-spacing: 0%;
text-align: left;
margin-bottom: 30px;
}


/* small device responsive media queary */
@media screen and (max-width:576px) {
    nav ul{
        display: none;
    }
    .hamburger{
        display: block;
    }
    .header-title, .btn-container{
        display: none;
    }
    .horizontal-line{
        display: block;
    }
    .hero-section{
        flex-direction: column;
    }
    .hero-content{
        text-align: center;
    }
    header{
        width: 100%;
    }
    .card-container{
        flex-direction: column;
    }
    .arrow-botton{
        display: none;
    }
    .footer-section{
        flex-direction: column;
    }
    .stor-big-card{
        display: none;
    }
    .story-card-container{
        grid-template-columns: 1fr;
        margin: 0 auto;
    }
}